<div class="addnew-container">
    <div class="addButton">
        <button *ngIf="!showForm" (click)="showForm = !showForm" mat-raised-button class="btn-color">+ ADD NEW</button>
        <button *ngIf="showForm" (click)="showForm = !showForm" mat-raised-button class="btn-color">HIDE SECTION</button>
    </div>
    <div *ngIf="showForm" class="form">
        <mat-card>
            <form [formGroup]="formGroup" *ngIf="!successful" (keydown.enter)="$event.preventDefault()" (ngSubmit)="onSubmit()">
                <mat-horizontal-stepper  formArrayName="formArray" linear>

                  <mat-step formGroupName="0" [stepControl]="formArray.get([0])">
                      <ng-template matStepLabel>Name</ng-template>
                      <mat-form-field>
                        <input matInput placeholder="Product Name" formControlName="name">
                      </mat-form-field>
                      <div>
                        <button mat-button matStepperNext class="btn-color" type="button">Next</button>
                      </div>
                  </mat-step>

              <mat-step formGroupName="1" [stepControl]="formArray.get([1])">
                  <ng-template matStepLabel>General Information</ng-template>
                  <div class="form-container">
                      <mat-form-field>
                          <mat-select placeholder="Category" formControlName="category" name="Category">
                            <mat-option *ngFor="let category of categories" [value]="category">
                              {{category}}
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                          <mat-select placeholder="Producer" formControlName="producer" name="Producer">
                            <mat-option *ngFor="let producer of producers" [value]="producer">
                              {{producer}}
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                      <mat-form-field>
                          <mat-select placeholder="Origin" formControlName="origin" name="Origin">
                            <mat-option *ngFor="let origin of origins" [value]="origin">
                              {{origin}}
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                  </div>
                  <div>
                    <button mat-button matStepperPrevious class="btn-color" type="button">Back</button>
                    <button mat-button matStepperNext class="btn-color" type="button">Next</button>
                  </div>
              </mat-step>

              <mat-step formGroupName="2" [stepControl]="formArray.get([2])">
                  <ng-template matStepLabel>Weight/Price</ng-template>
                  <div class="form-container">
                      <mat-form-field>
                        <input matInput placeholder="Product Price" formControlName="price">
                        <mat-hint align="end">Price in NOK</mat-hint>
                      </mat-form-field>
                      <mat-form-field>
                        <input matInput placeholder="Product Weight" formControlName="weight">
                        <mat-hint align="end">Weight in Gram</mat-hint>
                      </mat-form-field>
                  </div>
                  <div>
                    <button mat-button matStepperPrevious class="btn-color" type="button">Back</button>
                    <button mat-button matStepperNext class="btn-color" type="button">Next</button>
                  </div>
              </mat-step>

              <mat-step formGroupName="3" [stepControl]="formArray.get([3])">
                  <ng-template matStepLabel>Description</ng-template>
                  <mat-form-field>
                    <textarea matInput placeholder="Product Description" formControlName="description"></textarea>
                  </mat-form-field>
                  <div>
                    <button mat-button matStepperPrevious class="btn-color" type="button">Back</button>
                    <button mat-button matStepperNext class="btn-color" type="button">Next</button>
                  </div>
              </mat-step>

                  <mat-step>
                    <ng-template matStepLabel>Complete</ng-template>
                    <h1 class="mat-display-1">{{formGroup.value.formArray[0].name}}</h1>
                    <div class="display-container">
                        <div class="display-image">
                            <img src="'../../assets/img/categories/{{this.formGroup.value.formArray[1].category}}.png"alt="bilde">
                        </div>
                        <div class="display-content">
                            <ul>
                                <li><mat-icon>list</mat-icon><span>{{formGroup.value.formArray[1].category}}</span></li>
                                <li><mat-icon>domain</mat-icon><span>{{formGroup.value.formArray[1].producer}}</span></li>
                                <li><mat-icon>public</mat-icon><span>{{formGroup.value.formArray[1].origin}}</span></li>
                                <li><mat-icon>attach_money</mat-icon><span>{{formGroup.value.formArray[2].price}},- NOK</span></li>
                                <li><mat-icon>fitness_center</mat-icon><span>{{formGroup.value.formArray[2].weight}}G</span></li>
                                <li><mat-icon>edit</mat-icon><span>{{formGroup.value.formArray[3].description}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                      <button mat-button matStepperPrevious class="btn-color" type="button">Back</button>
                      <button mat-raised-button class="btn-color-inverse">ADD NEW PRODUCT</button>
                    </div>
                  </mat-step>
                </mat-horizontal-stepper>
            </form>
            <div *ngIf="successful">
                <h2 class="mat-h2">{{formGroup.value.formArray[0].name}} has been added to the assortment.</h2>
                <div>
                  <button mat-raised-button (click)="resetForm()" class="btn-color-inverse">Add another item</button>
                </div>
            </div>
        </mat-card>
    </div>
</div>
