mat-icon {
    user-select: none;
    transition: all .2s ease-in-out;
    font-size: 4em;
    float: right;
    margin-right: 40px;
}

mat-icon:hover {
    cursor: pointer;
    transform: scale(1.05);
}

mat-spinner {
    margin: auto;
    margin-top: 100px;
}

h1 {
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.8);
    font-weight: 500;
    font-size: 3.5em;
    line-height: 110%;
    margin-bottom: 0px;
}

svg {
    position: relative;
    top: 100%;
    left: 5%;
    transform: scale(1.5) !important;
}

.wordcloud {
    text-align: center;
}
