/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0px;
    padding: 0px;
    /*background-color: #f0f2f3;*/
    font-family: Roboto,"Helvetica Neue",sans-serif;
    background-color: #D9D9D5;
}
