<div class="navbar">
    <nav>
        <a class="navlink-logo" routerLink="/"><b>WARE</b>WOLF</a>
        <a class="navlink-separator">|</a>
        <a class="navlink-search" routerLink="/"><mat-icon>search</mat-icon>Search</a>
        <a *ngIf="userService.isLoggedIn()" class="navlink-profile logged-in" routerLink="/profile">
          <div class="navlink-profile-avatar">
            <img src="../assets/img/avatar-small-male.png" alt="avatar" />
          </div>
          <div class="navlink-profile-info">
            <p>{{ name }}</p>
            <p>{{ role }}</p>
          </div>
        </a>
          <a *ngIf="!userService.isLoggedIn()" class="navlink-profile not-logged-in" routerLink="/login">
            <div class="navlink-profile-avatar">
              <img src="../assets/img/avatar-small-male.png" alt="avatar" />
            </div>
            <a><label>Sign in</label></a>
          </a>
          <a *ngIf="userService.isLoggedIn()" class="navlink-logout" (click)="logout()"> <!-- WRONG PATH!!! -->
            <div class="navlink-profile-logout">
              <mat-icon>clear</mat-icon>
            </div>
          </a>
    </nav>
</div>
