/*
  VARIABLES

  Background: #f9fafb
  Navbar: #463F65
  Green: #38a6a6


*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 8vw;
    height: 60px;
    background-color: #463F65;
}

nav > a {
    margin: 15px 0 15px;
    padding: 5px 10px;
    box-sizing: border-box;
    color: #FCFCFF;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    transition: all .3s ease;
}

nav > a.navlink-separator {
  font-size: 2em;
  margin-top: 5px;
  margin-right: 24px;
  cursor: default;
}

nav > a.navlink-search .mat-icon {
  position: absolute;
  margin-left: -26px;
  margin-top: -3px;
}

label:hover {
  cursor: pointer;
}

nav > a.navlink-profile {
  display: flex;
  height: 60px;
  width: auto;
  margin: 0px 0 0px auto;
  padding: 0 30px;
  font-size: .85em;
  line-height: 1em;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.10);
  min-width: 17%;
}

.navlink-profile-info p:first-child {
    margin-top: 15px;
    margin-bottom: 5px;
}
.navlink-profile-info p:last-child {
    margin: 0;
    transform: scale(0.8);
}

nav > a.navlink-profile.not-logged-in a {
  font-size: 1.3em;
  padding: 23px 15px;
}

nav > a.navlink-profile:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

nav > a.navlink-profile.logged-in div {
  flex-grow: 1;
}

nav > a.navlink-profile.logged-in div:nth-child(2) {
  flex-grow: 4;
}

nav > a.navlink-logout {
  height: 60px;
  width: auto;
  margin: 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.10);
  cursor: pointer;
  user-select: none;
  border-left: 2px solid #463F65;
  /*display: none;*/
}

nav > a.navlink-logout:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

nav > a:not(.navlink-logo):hover {
  color: #38a6a6;
}

nav > a:nth-child(2):hover,
nav > a.navlink-profile:hover,
nav > a.navlink-logout:hover {
  color: #FCFCFF;
}

.navlink-profile-avatar mat-icon {
  margin-top: 15px;
  margin-right: 20px;
  transform: scale(1.8);
}

@media only screen and (max-width: 768px) {
    .navlink-logo,
    .navlink-separator,
    .navlink-profile-info {
      display: none;
    }

    .navlink-profile-avatar mat-icon {
      margin-right: 0px;
    }
}
