<mat-card class="container">
  <h1 class="mat-display-1">Register:</h1>
    <form #heroForm="ngForm" name="register" (ngSubmit)="onSubmit()" >
      <mat-form-field>
        <input matInput placeholder="Name" name="fullName" [(ngModel)]="fullName" [formControl]="nameFormControl" required>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
        type="email"
        placeholder="E-mail"
        name="username"
        [(ngModel)]="username"
        [formControl]="emailFormControl"
        [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="!emailFormControl.hasError('required') && !emailFormControl.hasError('email') && emailFormControl.errors">
          This username is taken
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Role" name="role" [(value)]="chosenRole" required>
          <mat-option *ngFor="let role of roles" [value]="role">
            {{role}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="chosenRole!='Customer'">
        <input matInput
          type="password"
          placeholder="Secret"
          name="secret"
          [(ngModel)]="typedSecret"
          [formControl]="secretFormControl"
          required>
        <mat-error *ngIf="secretFormControl.errors">
          The secret password is wrong
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput  type="password" placeholder="Password" name="password" [(ngModel)]="password" required>
      </mat-form-field>
      <button mat-raised-button>Register</button>
      <p class="error">{{errorMessage}}</p>
    </form>
    <div>
      <button mat-button routerLink="/login">Login</button>
    </div>
  </mat-card>
