.container {
    width: 60%;
    height: 400px;
    margin: auto;
    margin-top: 100px;
}

form {
    display: flex;
    flex-direction: column;
}

form > * {
    width: 60%;
    margin: auto;
}

button {
    margin-top: 30px !important;
}

.error {
  color: red;
  margin-top: 1em !important;
}

.mat-card>:first-child {
    margin: 30px 0;
}
