.addnew-container {
    margin: 0vh 8vw;
}

.addButton {
    text-align: right;
}

.form {
    background-color: #FCFDFD;
    margin-top: 20px;
    margin-bottom: 8vh;
}

.btn-color {
    color: #38a6a6;
}
.btn-color-inverse {
    background-color: #38a6a6;
    color: #fff;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
}
.display-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.display-image,
.display-content {
    flex: 1;
}

.display-image img {
    height: 250px;
    width: 250px
}

.right-align {
  text-align: right;
}
input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
  display: none;
}


mat-icon {
    vertical-align: middle;
    margin-right: 10px;
}

mat-form-field {
    flex: 1;
    padding: 25px;
    width: 80%;
    min-width: 200px;
}
mat-form-field button{
    float: right;
}

li {
    list-style: none;
    text-align: left;
    padding: 5px;
}

h1 {
    margin-bottom: 20px;
}
