.results-container {
    margin: 2vh 8vw 8vh;
}

h2 {
    text-transform: uppercase;
    color: rgba(0,0,0,0.4);
    padding: 20px;
    margin: 0px;
}

h2 mat-icon {
    position: relative;
    top: 5px;
}

mat-card {
    padding: 0px;
}

mat-paginator {
    border-top: 1px solid rgba(0,0,0,0.1);
}

mat-toolbar {
    padding-left: 4%;
    padding-right: 50px;
}


mat-toolbar * {
  flex: 1;
}

.mat-toolbar-row:last-child {
  justify-content: space-around;
  align-items: center;
}

.modalButton {
    width: 100%;
    margin-top: 10px;
    color: #38a6a6;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
