<div class="search-container">
    <mat-card>
        <div class="main-search">
            <div class="searchBar" [class.expanded]="showExpantion">
                <form class="example-form">
                  <mat-form-field class="full-width">
                    <input matInput [style.fontSize.px]="30" id="input-field"  name="query" (keyup.enter)="search()" [(ngModel)]="query">
                    <mat-placeholder><mat-icon>search</mat-icon> SEARCH TO FIND PRODUCTS</mat-placeholder>
                  </mat-form-field>
                </form>
                <button mat-button class="expandButton" type="button" *ngIf="!showExpantion" (click)="expandSearch()">Show advanced settings</button>
            </div>
            <div class="expansionTable" *ngIf="showExpantion">
                <form class="example-form">
                    <table class="full-width" cellspacing="0">
                      <tr>
                         <td><mat-form-field class="full-width margin-right">
                            <mat-select placeholder="Category" [(ngModel)]="category" name="category">
                              <mat-option *ngFor="let category of categories" [value]="category">
                                {{category}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field></td>
                          <td><mat-form-field class="full-width margin-left">
                            <mat-select placeholder="Producer" [(ngModel)]="producer" name="producer">
                              <mat-option *ngFor="let producer of producers" [value]="producer">
                                {{producer}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field></td>
                      </tr>
                      <tr class="last-row">
                        <td><p class="mat-subheading-1">Maximum price:</p>
                            <mat-slider class="full-width" [(ngModel)]="price" [max]="1000" [min]="0" [step]="10" [thumb-label]="true" name="price"></mat-slider></td>
                        <td><mat-checkbox class="full-width theme-color" name="inStock" [(ngModel)]="inStock">Only display products in stock</mat-checkbox></td>
                      </tr>
                    </table>
                </form>
                <button mat-button class="expandButton" type="button" *ngIf="showExpantion" (click)="expandSearch()">Hide advanced settings</button>
            </div>
        </div>
        <div class="searchButton" (click)="search()">
            <mat-icon class="search-icon">search</mat-icon>
        </div>
    </mat-card>
</div>
