.search-container {
    margin: 8vh 8vw;
    background-color: #FCFDFD;
}

mat-card {
    display: flex;
    padding: 0;
    flex-direction: row;
}

.search-icon {
    margin: auto;
    display: block;
    font-size: 5em;
    height: 80px;
    width: 80px;
    transition: all .2s ease-in-out;
    color: #fff;
    font-weight: 500;
}

mat-form-field {
    margin: 5px;
}

.main-search {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 10;
}

.searchButton:hover > mat-icon {
    transform: scale(1.08);
}

.searchBar {
    padding: 50px 80px 20px 80px;
}

@media (max-width: 415px) {
    .searchBar {
        padding: 10px 20px 5px 20px;
    }
}

.expandButton {
    float: right;
    color: #38a6a6;
}

.searchButton {
    background-color: #38a6a6;
    transition: all .3s ease;
    flex: 2;
    display: flex;
    user-select: none;
}
.searchButton:hover {
    cursor: pointer;
    background-color: #2B9999;
}

.expansionTable {
  padding: 50px 80px;
  flex: 1;
}

.expanded {
    padding-bottom: 0;
}

.margin-right {
    margin-right: 20px;
}

.margin-left {
    margin-left: 20px;
}

.full-width {
  width: 100%;
  height: 100%
}

.last-row {
    height: 100px;
    padding-bottom: 20px;
}

.last-row p {
    float: left;
    font-size: 12px;
}


::ng-deep .mat-accent .mat-slider-thumb {
    background-color: #38a6a6;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: #38a6a6;
}
::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #38a6a6;
}
::ng-deep .mat-accent .mat-slider-thumb-label-text {
    color: #fff;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #38a6a6;
}
